{% load static account %}
<header id="main">
    <nav class="navbar is-fixed-top is-raised is-transparent" id="main-navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="{% url 'index' %}" class="navbar-item">
                    <img src="{% static "images/gbosa-logo.svg" %}" alt="Gbosa Logo">
                </a>

                <a class="navbar-burger" id="menu-trigger" href="#" aria-label="main menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item search">
                        {% include "./search/form.html" %}
                    </div>
                    <a href="{% url "app:post-type-list" 'Q' %}" class="navbar-item">Questions</a>
                    <a href="{% url "app:post-type-list" 'E' %}" class="navbar-item">Experiences</a>
                </div>
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                        <div class="navbar-item">
                            <a href="{% url 'notifications:index' %}" class="badge is-borderless is-badge-small" data-badge="{{ unread_notifications }}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18" height="18"><path d="M433.884 366.059C411.634 343.809 384 316.118 384 208c0-79.394-57.831-145.269-133.663-157.83A31.845 31.845 0 0 0 256 32c0-17.673-14.327-32-32-32s-32 14.327-32 32c0 6.75 2.095 13.008 5.663 18.17C121.831 62.731 64 128.606 64 208c0 108.118-27.643 135.809-49.893 158.059C-16.042 396.208 5.325 448 48.048 448H160c0 35.346 28.654 64 64 64s64-28.654 64-64h111.943c42.638 0 64.151-51.731 33.941-81.941zM224 472a8 8 0 0 1 0 16c-22.056 0-40-17.944-40-40h16c0 13.234 10.766 24 24 24z"/></svg>
                            </a>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <div class="navbar-link">
                                {{ user.username|capfirst }}
                            </div>
                            <div class="navbar-dropdown">
                                <a href="{% url 'user-posts' %}" class="navbar-item">My Posts</a>
                                <a href="{% url 'psuedonym' %}" class="navbar-item">Psuedonym</a>
                                <a href="/accounts/logout" class="navbar-item">Logout</a>
                            </div>
                        </div>

                    {% else %}
                        <a href="/accounts/login" class="navbar-item">Login</a>
                    {% endif %}
                    <div class="navbar-item has-dropdown is-hoverable" id="add-post">
                        <div class="navbar-link no-dropdown-arrow">
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16"><path d="M448 294.2v-76.4c0-13.3-10.7-24-24-24H286.2V56c0-13.3-10.7-24-24-24h-76.4c-13.3 0-24 10.7-24 24v137.8H24c-13.3 0-24 10.7-24 24v76.4c0 13.3 10.7 24 24 24h137.8V456c0 13.3 10.7 24 24 24h76.4c13.3 0 24-10.7 24-24V318.2H424c13.3 0 24-10.7 24-24z"/></svg></span>
                        </div>
                        <div class="navbar-dropdown is-right">
                            <a href="{% url 'app:add-post-experience' %}" class="navbar-item">Share an Experience</a>
                            <a href="{% url 'app:add-post-question' %}" class="navbar-item">Ask a Question</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
