{% extends "../base.html" %}
{% block title %}Gbosa!{% endblock %}
{% block content %}

<div class="hero is-medium is-danger is-bold">
    <div class="hero-body has-text-centered teaser">
        <h1 class="title is-3">
            Grow through sharing Experiences!
        </h1>
        <p class="has-text-white">We can all learn from each other.</p>
        <a href="{% url 'app:start' %}" class="button is-link">Get started</a>
    </div>
</div>

<div class="">
    <div class="hero" id="posts">
        <div class="hero-body">
            <div class="columns">

                <div class="column is-8">
                    {% for post in posts %}
                        {% include "./posts/_post.html" with post=post %}
                    {% endfor %}

                    {% include "./_paginator.html" with posts=posts %}
                </div>
                <div class="column is-4 is-hidden-mobile">
                    {% include "./tags/popular_tags.html" %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
