<div class="card question {% if post.is_flagged == True %} is-flagged {% endif %}" id="post-{{ post.id }}">
    <div class="card-content">
        <div class="level is-mobile" style="margin-bottom: .5em">
            <div class="level-left">
                <div class="level-item">
                    {% include "../user/_avatar.html" with payload=post %}
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="{% url "app:post-type-list" post.post_type %}" class="tag">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="12" height="12"><path fill="#999" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"/></svg></span>
                        <span>{{ post.get_post_type_display }}</span>
                    </a>
                </div>
            </div>
        </div>
        <h2 class="title is-5">
            <a href="{% url "app:view-post" post.id post.slug %}">{{ post.title }}</a>
        </h2>
        {% if post.description and post.post_type == 'E' %}
            <p>{{ post.description|truncatewords:48|striptags }}</p>
        {% endif %}
        {% include "./_post_meta.html" with post=post %}
    </div>
</div>
