<div class="card question" id="post-{{ post.id }}">
    <div class="card-content">
        <p>
            <span class="tag">
                {{ post.get_post_type_display }}
            </span>
        </p>
        <h2 class="title is-5">
            <a href="{% url "app:view-post" post.id post.slug %}">{{ post.title }}</a>
        </h2>
        {% if post.description and post.post_type == 'E' %}
            <p>{{ post.description|truncatewords:24|striptags }}</p>
        {% endif %}
        {% include "./_post_meta_owner.html" with post=post %}
    </div>
</div>
