{% extends '../../base.html' %}

{% block content %}

    <div class="hero is-medium">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-8">
                    <h2 class="title is-4">My Posts</h2>
                    {% if posts %}
                        {% for post in posts %}
                            {% include "./_post_owner.html" with post=post %}
                        {% endfor %}
                    {% else %}
                        <h4 class="title is-warning">You don't have any posts yet</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
