<!DOCTYPE html>
<html lang="en">
<head>
    {% load static repeatedblocks %}
    <meta charset="UTF-8">
    {% include "./parts/meta_tags/meta.html" %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% repeated_block title %}Gbosa!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static "images/favicon.png" %}?v=1" type="image/png">

</head>
<body>
    {% include "./parts/_header.html" %}
    <!-- End header -->
    <div class="container" id="content">
        {% block content %}
        {% endblock content %}
    </div>
    {% include "./footer.html" %}

    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>
