{% extends "../../base.html" %}

{% block content %}

<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-2">
                    {% include "../tags/popular_tags.html" %}
                </div>
                <div class="column is-8">
                    {% if posts %}
                        {% for post in posts %}
                            {% include "../posts/_post.html" with post=post %}
                        {% endfor %}
                    {% else %}
                        <h4 class="title is-5">Your search for: <strong>"{{ request.GET.q }}"</strong> returned no results</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
